<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="loGo" style="padding-top: 100px;">
       
<img src="../../../assets/img/Logo.png">
<h4 class="best">BEST EVERYDAY FASHION FOR EVERY POCKET</h4>
</div>
    </div>
    <div class="col-md-6">
      <h3 class="coMpany">The Company</h3>
      <p class="abouTus"><b >SofaCreator</b> Furniture prides in the ease, joy and convenience that accompany the process of shopping with us.
        We are a multifaceted business whose expertise lies in customised furniture, ready made furniture, and interior
        design. We have a 17 year old legacy of delivering functional and beautiful products into the homes & offices of
        our customers. We seek out the best craftsmen from all over the country to give you products of superior
        durability and awe-inspiring, artistic beauty. Whether you are settling into a brand new abode, looking at a
        complete makeover of your office or just want an outstanding piece of furniture, our team can tackle projects of
        every probable size and budget.</p>

    </div>

  </div>
</div>