<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-6">
      <div class="row" >
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 20px; width: 100%;">
          <div class="mat-big">
            <div *ngIf="!primeHide">
              <div class="zoom">
             
                <img [src]="productModel?.productImageName[0]" class="img-responsive">
              </div>
            </div>
            <div *ngIf="showImages">
              <div class="zoom1">
                <img [src]="selectedImg" class="img-responsive">
              </div>
            </div>
          </div>
          <br>
        </div>

        
        <div class="col-3 col-sm-3 col-md-3 col-lg-2" *ngFor="let data of productModel?.productImageName" class="small">
          <button mat-button [ngClass]="{'activeImg' : selectedSmallImg === data}" class="ras-btn"><a><img
                (mouseover)="clickImg(data)" [src]="data" class="img-fluidsss"></a>
          </button>
        </div>


      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 detailsView">
      <app-product-detail-view [productModel]="productModel">
      </app-product-detail-view>
    </div>
  </div>
  <br>
  <div class="row gridRow">
   <!--  <div class="col-12 col-md-12 col-lg-12">
      <div class="var-btnn">
        
          <h2 class="relatedSection">Similar Products</h2>
        
      </div>
    </div> -->
    <div class="col-6 col-sm-3 col-md-3 col-lg-2 pointerImage" *ngFor="let data of relatedProducts">
      <div class="card-var">
        <a (click)="relatedProduct(data)">
          <button mat-flat-button class="vat-btn">
            <div class="zoom2">
              <img class="img-fluid" [src]="data.productImageName[0]">
            </div>
          </button>
        </a>
      </div>
      {{data.productTitle}}
    </div>
  </div>
</div>