<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-6">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 deTail">
          <div class="mat-big">
            <div *ngIf="!primeHide" class="deImgcover">
              <div class="zooms">
                <img [src]="productModel?.productImageName[0]" class="detailImg">
              </div>
            </div>
            <div *ngIf="showImages" class="deImgcover">
              <div class="zoom1">
                <img [src]="selectedImg" class="detailImgs">
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-2" *ngFor="let data of productModel?.productImageName" class="small">
          <button mat-button [ngClass]="{'activeImg' : selectedSmallImg === data}" class="smallbtn"><a>
              <img (mouseover)="clickImg(data)" [src]="data" class="smallImg"></a>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 detailsView">
      <app-product-detail-view [productModel]="productModel">
      </app-product-detail-view>
    </div>
  </div>