.login-card{
    width: 480px;
      padding-left: 40px;
      box-shadow: 0 1px 58px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19);
      margin-bottom: 50px;
      background: rgb(255, 255, 255);
      height: 350px;
    }
    .registerCard{
        padding-left: 90px;
        padding-top: 60px;
    }
    .login{
        padding-left: 4px;
        padding-top: 20px;
    }
    .raised{
        width: 200px;
        background: rgb(122, 122, 122);
        color: black;
    }
    
    .registerButton{
        box-shadow: 0 1px 28px 0 #00000063, 0 1px 2px 0 rgba(0, 0, 0, .19);
        background-color: rgb(156, 155, 155);
        margin-bottom: 10px;
        width: 120px;
        font-size: 14px;
        height: 40px;
        text-align: center;
        padding-top: 10px;
        font-weight: bolder;
        color: rgb(0, 0, 0);
    }
    