<div class="row grid">
</div>
<div class="m-5">
  <div class="row">
    <div class="col-md-8"> 
      <!--cart img-->
      <div class="row gridImage" *ngFor="let data of shopModel">
        <div class="col-md-2">
          <img class="img-responsive" [src]="data?.productImageName">
        </div>
        <!---img end-->
        <!---cart details-->
        <div class="col-md-3">
          <div class="three">
            <h4 class="product-name"><strong>{{data?.productName }}</strong></h4>
            <h4><small>{{data?.productDescription}}</small></h4>
            <h4><small>{{data?.price}} ₹ </small></h4>
          </div>
        </div>
        <!---details End-->
        <div class="col-md-3" style=" padding-top: 20px;">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-num" (click)="action('min', data)"
                [disabled]="data.set < 0">
                <span>-</span>
              </button>
            </span>
            <input type="text" [disabled]="true" class="form-control input-number" [value]="data.set">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]"
                (click)="action('add', data)">
                <span>+</span>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="prize">
            <div class="cart-num">
              <h6>{{data.set * data.price }} ₹</h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="delete">
            <button type="button" class="btn btn-default btn-numbers" (click)="action('clear', data)">
              Delete
            </button>
          </div>
        </div>

      </div>

      <div *ngIf="shopModel?.length === 0">
        Your Cart is Empty
      </div>
    </div>


    <div class="col-md-4" *ngIf="shopModel?.length !== 0" style="padding-top: 185px; padding-left: 200px; ">
      <div class="gridI">

        <div class="row " >
          <div class="col-md-12"> Order Summary</div>

          <div class="col-md-12 pull-right">
            <strong>Total: {{total()}} ₹</strong>
          </div>
          <div class="col-md-12 pull-rights">
            <div color="primary" class="btnn" (click)="placeOrder()">
              Continue Shopping </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>