
    <div class="contai">
      <div class="row">
        <div class="col-md-4">
          <div class="coNtact">
          <h1 class="blue"> Bulk Buyer</h1>
          <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quod odio itaque corrupti ducimus dolore voluptas iusto. Nam quia rerum nesciunt, excepturi ex ut eveniet similique fuga repudiandae, consequuntur amet!.</p>
          <!-- <div class="row">
              <div class="col-md-6">
                <div class="name">
                <h3> Email Address *</h3>
                </div>
    <br>
                <div class="name" >
                  <input type="text" class="form-control" placeholder="Enter Email Address" id="usr" name="Email"
                    style="width:250px; height: 50px ;">
                </div>
              </div>
              <div class="col-md-6">
                <div class="name" >
                <h3>Password *</h3>
                </div>
                <br>
                <div class="name">
                  <input type="text" class="form-control" placeholder="Enter Password:" id="usr" name="Email"
                    style="width:250px; height: 50px ;">
                </div>
              </div>
            </div> -->
        </div>
        </div>
    







        <div class="col-md-8" style="padding-left: 110px;">


          
          <div class="container">
            <h1 class="blue">Register & Get Additional Discounts</h1>
            <br>
            <div class="row">
              <div class="col-md-3" >
                <div class="nameZs" style="padding-bottom: 15px;">
                  <h6 >Full Name *</h6>
                </div>
    <br>
                <div class="nameZ" >
                  <h6>Mobile Number *</h6>
                </div>
                <br>
                <div class="nameZ" >
                  <h6>Email Address *</h6>
                </div>
                <br>
                <div class="nameZ" >
                  <h6>Password *</h6>
                </div>
                <br>

                <br>
            
              </div>
              <div class="col-md-9">
                <div class="nameS" >
                  <input type="text" class="form-control" placeholder="Enter Full Name:" id="usr" name="Email"
                   >
                </div>
           
                <div class="nameS">
                  <input type="text" class="form-control" placeholder="Enter Mobile Number:" id="usr" name="Email"
                   >
                </div>
                <div class="nameS">
                    <input type="text" class="form-control" placeholder="Enter Your Email Adders:" id="usr" name="Email"
                    >
                  </div>
                  <div class="nameS">
                      <input type="text" class="form-control" placeholder="Enter Password:" id="usr" name="Email"
                        >
                    </div>
                                                                                      
              </div>
            </div>

    <div class="buu">
              <input type="button" class="button" value="Submit">
            </div>
          </div>
        </div>
      </div>
    </div>