<form [formGroup]="regForm" (ngSubmit)="!regForm.invalid && onSubmit()" novalidate style="padding-top:40px">
    <div class="contai">
      <div class="row">
        <div class="col-md-4">
          <div class="coNtact">
          <h1 class="blue"> Bulk Buyer</h1>
          <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quod odio itaque corrupti ducimus dolore voluptas iusto. Nam quia rerum nesciunt, excepturi ex ut eveniet similique fuga repudiandae, consequuntur amet!.</p>
        </div>
        </div>
        <div class="col-md-8" style="padding-left: 110px;">
          <div class="container">
            <h1 class="blue">Register</h1>
            <br>
            <div class="row">
              <!-- <div class="col-md-3" >
                <div class="nameZs" style="padding-bottom: 15px;">
                  <h6 >Full Name *</h6>
                </div>
    <br>
                <div class="nameZ" >
                  <h6>Mobile Number *</h6>
                </div>
                <br>
                <div class="nameZ" >
                  <h6>Email Address *</h6>
                </div>
                <br>
                <div class="nameZ" >
                  <h6>Password *</h6>
                </div>
                <br>

                <br>
            
              </div> -->
              <div class="col-md-9">
                <div class="nameS" >
                    <div class="col-md-12">
                    <mat-form-field >
                        <mat-label>Your Full Name</mat-label>
                        <input matInput placeholder="Full Name" formControlName="fullName" required>
                        <button mat-button matSuffix mat-icon-button aria-label="email">
                            <mat-icon> person_pin</mat-icon>
                        </button>
                        <mat-error *ngIf="regForm.controls['fullName'].errors?.required">
                          Full Name is
                              <strong>required</strong>
                            </mat-error>
                      </mat-form-field>
                      </div>
                </div>
           
                <div class="nameS">
                    <div class="col-md-12">
                   <mat-form-field >
                      <mat-label>Your Mobile Number</mat-label>
                      <input matInput placeholder="Mobile Number" formControlName="mobileNumber" required>
                      <button mat-button matSuffix mat-icon-button aria-label="email">
                          <mat-icon>phone</mat-icon>
                      </button>
                      <mat-error *ngIf="regForm.controls['mobileNumber'].errors?.required">
                          Mobile Number is
                            <strong>required</strong>
                          </mat-error>
                    </mat-form-field>
                    </div>
                </div>
                <div class="nameS">
                    <div class="col-md-12">
                    <mat-form-field >
                        <mat-label>Your Email Address</mat-label>
                        <input matInput placeholder="Email Address" formControlName="emailId" required>
                        <button mat-button matSuffix mat-icon-button aria-label="email">
                          <mat-icon>email</mat-icon>
                        </button>
                        <mat-error *ngIf="regForm.controls['emailId'].errors?.required">
                           Email ID is
                             <strong>required</strong>
                           </mat-error>
                      </mat-form-field>
                      </div>
                  </div>
                  <div class="nameS">
                      <div class="col-md-12">
                      <mat-form-field >
                          <mat-label>Your City</mat-label>
                          <input matInput placeholder="City" formControlName="city" required>
                          <button mat-button matSuffix mat-icon-button aria-label="email">
                              <mat-icon>location_city</mat-icon>
                          </button>
                          <mat-error *ngIf="regForm.controls['city'].errors?.required">
                             City is
                              <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="nameS">
                        <div class="col-md-12">
                        <mat-form-field >
                            <mat-label>Product Details</mat-label>
                           <textarea matInput placeholder="Product Details" formControlName="products"> </textarea>
                          </mat-form-field>
                        </div>
                      </div>                                                          
              </div>
            </div>

    <div class="buu">
        <button class="button" mat-stroked-button  type="submit">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>