.highwa{
    height: 380px;
    width: 400px;
   
}
.registerCard{
    
    padding-left: 80px;
    padding-top: 30px;
    
}
.registerButton{
    background: rgb(126, 126, 126);
    width: 200px;
   
   
}
.regis-btn{
    padding-top: 15px;
}