<!-- <br>
<div class="container">
<div class="jumbotron gridJump">
        <h1 class="subs">Get Discount Info</h1>
        <p class="tagp">
                Subscribe to the Outstock mailing list to
                receive updates on
                new arrivals, special
                offers and other discount
                information.</p>
    <div class="row">
        <div class="col-md-4">            
        </div>
        <div class="col-md-4" style="margin-bottom: 1px;">
            <form>
                <div class="form-group">
                    <label for="comment"></label>
                    <textarea class="form-control" rows="5" id="comment"
                        placeholder="Subscribe to our newsletter"></textarea>
                    <br>
           
                    <div class="button" style="padding-right: 30px;">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4" style="padding-right: 40px;">
                                <div type="button" class="btn-sm"  style="width:120px;"><b>Submit</b></div>  
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</div>
<br> -->

<div class="container">
    <div class="jumbotron subsJumb">
        <h1 class="subsContent">Get Discount Info</h1>
        <p class="subsPara">
            Subscribe to the Outstock mailing list to
            receive updates on
            new arrivals, special
            offers and other discount
            information.</p>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Enter Your ID" >
                          </mat-form-field>
                        <div class="button">
                            <div class="row">
                                <div class="col-md-12">
                                    <div type="button" class="btn-sm"><b>Submit</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
