<!-- {{stripEnable}} -->
 <div class="image" [ngClass]="stripEnable">
        <div class="container">
                <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                                <h6 class="stripText"><button > HoursFree</button>  Express
                                        Delivery in Bangalore!<span> SofaCreator</span> Now in Your
                                        <span>City</span></h6>
                                <div class="col-md-2"> </div>
                        </div>
                        <div class="col-md-2">
                                <h5 (click)="test()" class="exIt">x</h5>
                        </div>
                </div><button mat-raised-button color="primary">Primary</button>

        </div>
</div> 