<div class="image" [ngClass]="stripEnable">
        <div class="container">
                <div class="row">
                        <div class="col-md-10  col-10">
                                <h6 class="stripText"><button>48 Hours</button> Express
                                        Delivery in Bangalore!<span> SofaCreator</span> Now in Your
                                        <span>City</span></h6>
                        </div>
                        <div class="col-md-2 col-1">
                                <h6 (click)="test()" class="exIt">X</h6>
                        </div>
                </div>
        </div>
</div>