

.card-control{
    padding: 15px;
}


.card-title{
    font-size: 16px;
    padding-left: 25px;
}
.card-text{
padding-left: 25px;

}




.btnn{

width: 120px;
font-size: 14px;
background: rgb(236, 236, 236);
}
.btnn:hover{
    background: rgb(146, 146, 146);
}

.icon-fab{
    padding-left: 40px;
    padding-right: 20px;
}
.Detail-View{
width: 110px;
background: rgb(236, 236, 236);
}
.Detail-View:hover{
    background: rgb(146, 146, 146);

}
.Detail-Views{
    padding-left: 60px;
}


.zoom {
    transition: transform .5s;
    margin: 0 auto;
  }
  
  .zoom:hover {

    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8); 
    transform: scale(0.8); 
  }

/* 
  .zoomss{
    transition: transform .5s;
    margin: 0 auto;
  }
  .zoomss:hover {
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8); 
    transform: scale(0.8); 

  } */

 .mtss{
   background: rgb(233, 233, 233);
   width: 100%;
   height: 100%;
 }

 .img-fluid{
    
  width: 700px;
  height: 280px;
  align-items: center;
  padding-left: 12px;
  padding-top: 20px;
  padding: 10px;
  padding-right: 15px;

}

/* .Detail-Views {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: hidden;
  width: 100%;
 
  transition: .5s ease;
}

.but-cart:hover .Detail-Views {
  height: 100%;
} */

/* .but-cart {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card-control:hover .but-cart {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
 */