.card-control {
  padding: 15px;
}

.card-title {
  font-size: 16px;
  padding-left: 25px;
}

.card-text {
  padding-left: 25px;

}


.btnn {
  
  box-shadow: 0 1px 28px 0 #00000063, 0 1px 2px 0 rgba(0, 0, 0, .19);
  background-color: rgb(156, 155, 155);
  margin-bottom: 10px;
  width: 120px;
  font-size: 14px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  font-weight: bolder;
  color: rgb(0, 0, 0);


}
.Detail-View {
  box-shadow: 0 1px 28px 0 #00000063, 0 1px 2px 0 rgba(0, 0, 0, .19);
  background-color: rgb(156, 155, 155);
  margin-bottom: 10px;
  width: 120px;
  font-size: 14px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  font-weight: bolder;
  color: rgb(0, 0, 0);

}

.Detail-View:hover {
  background: rgb(146, 146, 146);

}

.btnn:hover {
  background: rgb(146, 146, 146);
}

.Detail-Views {
  padding-left: 60px;
}

.icon-fab {
  padding-left: 40px;
  padding-right: 20px;
}


.zoom {
  transition: transform .5s;
  margin: 5 auto;
}

.zoom:hover {

  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.9);
  transform: scale(1.0.5);
}

/* 
  .zoomss{
    transition: transform .5s;
    margin: 0 auto;
  }
  .zoomss:hover {
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8); 
    transform: scale(0.8); 

  } */

.mtss {

  width: 100%;
  height: 100%;
  box-shadow: 0 1px 28px 0 #00000063, 0 1px 2px 0 rgba(0, 0, 0, .19);
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}




/* img size */
.zoom .img-fluid {

  width: 700px;
  height: 280px;
  align-items: center;
  padding-left: 12px;
  padding-top: 20px;
  padding: 10px;
  padding-right: 15px;

}

/* IMG SIZE END */



/* .Detail-Views {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: hidden;
  width: 100%;
 
  transition: .5s ease;
}

.but-cart:hover .Detail-Views {
  height: 100%;
} */


 .but-cart {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card-control:hover .but-cart {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
 

b:hover {
  color: rgb(25, 25, 117);
}