<nav class="navbar navbar-expand-lg navbar-light  bg-light">
  <div class="logo-img" *ngFor="let data of footerDetails">
    <a class="navbar-brand" routerLink="home/welcome" >
      <img [src]="data.logoImageName"  class="navLogo">
    </a> 
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-collapse collapse justify-content-end">
      <ul class="navbar-nav">
        <div class="row">
          <li class="dropdown" *ngIf="this.sharedService.getLogin()">
            <a class="havai" (click)="navBarShow()" data-toggle="dropdown">
              <h5 class="navMail"><b>{{this.sharedService.findName()}}</b></h5>
            </a>
            <ul class="dropdown-menu megaMenu" role="menu" [ngClass]="{show: dropdownShow}">
              <li class="nav-item">
                <a class="navTexts" (click)="navBarShow()" routerLink="/account/profile">
                  <h6 class="navMailmenu">Profile</h6>
                </a>
              </li>
              <li class="nav-item">
                <a class="navTexts" (click)="navBarShow()" routerLink="/account/listaddress">
                  <h6 class="navMailmenu">Address</h6>
                </a>
              </li>
              <li class="nav-item">
                <a class="navTexts" (click)="navBarShow()" routerLink="/account/listcard">
                  <h6 class="navMailmenu" >Card</h6>
                </a>
              </li>
              <li class="nav-item">
                <a class="navTexts" (click)="navBarShow()" routerLink="/account/bookings">
                  <h6 class="navMailmenu">My Bookings</h6>
                </a>
              </li>
              <li class="nav-item">
                <a class="navTexts" (click)="logOut()">
                  <h6 class="navMailmenu">LogOut</h6>
                </a>
              </li>
            </ul>
          </li>
          <div class="logIns">
            <li class="nav-item">
              <a class="navTextmenusss" routerLink="/home/buyinbulk"><b>Buy in
                  Bulk</b></a>
            </li>
          </div>
          <div class="logIns">
            <li class="nav-item">
              <a class="navTextmenusss" routerLink="/home/support"><b>Support</b></a>
            </li>
          </div>
          <div class="logIns">
            <li class="nav-item">
              <a class="navTextmenusss" routerLink="/account/signin"><b>Login</b></a>
            </li>
          </div>
          <div class="logIn">
            <li class="nav-item" *ngIf="!this.sharedService.getLogin()">
              <a class="navTextmenusss" routerLink="/account/registration"><b>SignUp</b></a>
            </li>
          </div>
          <div class="shop">
            <li><a routerLink="product/shopping" class=" navTextmenusss" href="#">
                <mat-icon matBadge="{{this.sharedService.addToQty()}}" matBadgeColor="warn">shopping_cart</mat-icon>
                <span class="badge badge-light"></span>
                <!--   {{this.sharedService.addToQty()}} -->
              </a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
<app-category></app-category>