<div class="pageBoxLgs">
  <form [formGroup]="orderForm" novalidate style="padding-top:60px">
    <div class="container-fluid ">
      <div class="row ">

      <div class="form-group col-md-5 col-sm-12 " *ngIf="addAddressDetails" >
          <div>
            <h3>Add New Address</h3>
          </div>
          <div>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" formControlName="firstName" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="orderForm.controls['firstName'].errors?.required">
                First Name is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>


          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone Number" formControlName="phoneNumber" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="orderForm.controls['phoneNumber'].errors?.required">
                Phone Number
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email Id" formControlName="emailId" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="orderForm.controls['emailId'].errors?.required">
                Email Id
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Street Address" formControlName="streetAddress" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="orderForm.controls['lastName'].errors?.required">
                Street Address
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Building No" formControlName="building" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="orderForm.controls['building'].errors?.required">
                Building No
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="LandMark" formControlName="landmark" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="orderForm.controls['landmark'].errors?.required">
                LandMark
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="City" formControlName="city" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="orderForm.controls['city'].errors?.required">
                City is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="State" formControlName="state" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="orderForm.controls['state'].errors?.required">
                State is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="PinCode" formControlName="pincode" required #name>
              <button mat-button matSuffix aria-label="Super Category Name">
              </button>
              <mat-error *ngIf="orderForm.controls['pincode'].errors?.required">
                PinCode is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12 pull-right">
              <button mat-raised-button color="primary"  class="btnn" (click)="onSubmit()">
                Save  </button>
            </div>
        </div> 
        <div class="form-group col-md-4 col-sm-12 " *ngIf="!addAddressDetails">

       
            <div  *ngFor="let data of billingDetails" class="pageBoxLg">
              <b>Delivery Address</b>
             <div>
               <b> {{data.name}}</b>
             </div>
            
    
             <div>
                {{data.building}}
             </div> 
             <div>
                {{data.streetAddress}}
             </div> 
             <div>
                {{data.landmark}}
             </div>  
             <div>
                {{data.city}} - {{data.pincode}}
             </div>
             <div>
                {{data.state}}
             </div>
              <div>
             Mobile Number : <b>{{data.mobileNumber}}</b> 
             </div>
            </div>
          </div>
    <div class="form-group col-md-5 col-sm-12 pageBoxLg" >
          <div>
            <b>Product Details</b>
          </div>
          <div class="row">
            <div class="col-md-7">
                Product
            </div>
            <div class="col-md-2 ">
                Quantity
              </div>
            <div class="col-md-2 ">
              Total
            </div>

          </div>
          <div class="row" *ngFor="let data of orderSummary">  
            <div class="col-md-3">
              <img class="img-fluid" style="height: 100px;width:100px;" [src]="data?.productImageName">
            </div>
            <div class="col-md-4 ">
              <p>{{data?.productName}}</p>
            </div>
            <div class="col-md-2">
                <p>{{data?.set  }}</p>
              </div>
            <div class="col-md-2">
               
              <h5>{{data?.set * data?.price}}</h5>
            </div>
          </div>
          <div>
              <b>Price Details</b>
            </div>
          <div class="row">
            <div class="col-md-9 ">
              SubTotal
            </div>
            <div class="col-md-2 ">
                <h4> {{total()}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 ">
              Shipping Fee
            </div>
            <div class="col-md-2 ">
              <p>Free</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 ">
              Total
            </div>
            <div class="col-md-2 ">
                <input  formControlName="productPrice" hidden [value]="productModel?.price"  #priceValue  >
              <h3>{{total()}}</h3>
            </div>
          </div>
         
          <div class="row">
            <div class="col-md-6 ">
              <!-- <button class="btn btn-float-right card-footer" [disabled]="!orderForm.valid"
                (click)="placeOrder(productModel, qtyValue.value)">Place Order</button> -->
                <button mat-raised-button color="primary" [disabled]="!orderForm.valid"  class="btnn" (click)="placeOrder(totalpriceValue)">
                    Confirm Booking  </button>
            </div>

          </div>
        </div> 
        
      </div>


    </div>
  </form>
</div>