
  
@media screen and (max-width: 600px) {
    .imageSize
    {
        width: 100%;
        height: 200px;
    } 
  }

  @media screen and (min-width: 600px) {
    .imageSize
    {
        width: 100%;
        height: 500px;
    } 
    
  }

