<div class="row">
  <div class="col-md-4 gridPro">
   
  </div>
  <div class="col-md-4">
    <div class="hot-h1">
        
        <h2> HOT PRODUCTS</h2>
    </div>
  </div>

  <div class="col-md-4">
    <div class="hot-h1"></div>

  </div>
</div>
<div class="container ">
  <div class="row gridIm">
    <div class="col-md-6">
      <img [src]="productsModel[0].adsImageName" class="img-fluid">
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 gridImga" *ngFor="let product of productsModel" style=" padding-top: 8px;">
          <div class="imgs">
            <img [src]="product.adsImageName" class="img-responsive">
            fluid-imgss
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</div>