<!-- <div class="row">
  <div class="col-md-4 gridPro">
   
  </div>
  <div class="col-md-4">
    <div class="hot-h1">
        
        <h2> HOT PRODUCTS</h2>
    </div>
  </div>

  <div class="col-md-4">
    <div class="hot-h1"></div>

  </div>
</div>
<div class="container ">
  <div class="row gridIm">
    <div class="col-md-6">
      <img [src]="productsModel[0].adsImageName" class="img-fluid">
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 gridImga" *ngFor="let product of productsModel" style=" padding-top: 8px;">
          <div class="imgs">
            <img [src]="product.adsImageName" class="img-responsive">
            fluid-imgss
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="promotion-Two">
  <div class="container-fluid">
  <div class="nameCoverage">
      <h3 class="promotionName">{{promotionsModel[1]?.promotionTitle}}</h3>
  </div>
  <div>
    <div class="row gridImg">
      <div class="col-md-3 col-3 names" *ngFor="let data of promotionsModel[1]?.joinedtable">
        <div class="promoImg">
          <div class="card">
            <img [src]="data?.productImageName[0]" class="img-responsive">
          </div>
        </div>
        <h6 class="productName"> {{data.productName}}</h6>
        <h6 class="productPrize">? {{data.price}} </h6>
      </div>
    </div>
  </div>
</div>
</div>