
<div class="p-2 subHeader">
    <div class="nameCoverage">
        <h3 class="promotionName">{{promotionsModel[1]?.promotionTitle}}</h3>
    </div>
  <span></span></div>
<div class="row parent">
  <app-carousel-item>
   <div appCarouselItem class="col-md-3 col-lg-3 col-xl-3 col-6" 
    *ngFor="let data of promotionsModel[1]?.joinedtable">
      <a (click)="detailView(data._id)"><img [src]="data.productImageName[0]" class="img-fluid"></a>
      <p>{{data.productName}}</p>
      <p><span>&#x20B9;</span>{{data.price}}</p>
    </div>
  </app-carousel-item>
<!-- <div class="promotion-Two">
  <div class="container-fluid">
  <div class="nameCoverage">
      <h3 class="promotionName">{{promotionsModel[1]?.promotionTitle}}</h3>
  </div>
  <div>
    <div class="row gridImg">
      <div class="col-md-3 col-3 names" *ngFor="let data of promotionsModel[1]?.joinedtable">
        <div class="promoImg">
          <div class="card">
            <img [src]="data?.productImageName[0]" class="img-responsive">
          </div>
        </div>
        <h6 class="productName"> {{data.productName}}</h6>
        <h6 class="productPrize">? {{data.price}} </h6>
      </div>
    </div>
  </div>
</div>
</div> -->