<div class="container-fluid footers pt-5"  >
  <div class="container" >
    <div class="row footerBorder" *ngFor="let data of footerDetails">
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div>
          <img [src]="data.logoImageName"  alt="Logo" class="footerLogos">
        </div>
        <div class="footers-info mt-3">
          <p class="footerAdres">{{data.address}}</p>
          <ul class="list-unstyled">
            <li><a href="maintenance.html"> <img src="../../../assets/img/telephone.png" class="imgTele"> {{data.contactNo}}</a></li>
            <li><a href="contact.html"> <img src="../../../assets/img/telephone.png" class="imgTele"> {{data.alternativeContactNo}}</a></li>
            <li><a href="about.html"> <img src="../../../assets/img/envelope.png" class="imgTele"> {{data.mailId}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-6 col-md-2">
        <h6 class="footerTopic">The Company</h6>
        <ul class="list-unstyled">
          <li><a  routerLink="/home/aboutus" class="footerSubtitle">About Us</a></li>
      <!-- 
          <li><a href="about.html">Terms & Conditions</a></li> -->
        </ul>
      </div>
      <div class="col-xs-12 col-6 col-md-2">
        <h6 class="footerTopic">Information </h6>
        <ul class="list-unstyled">
            <li><a routerLink="/home/contact" class="footerSubtitle">Contact</a></li>
          <li><a routerLink="/home/privacypolicy" class="footerSubtitle">Privacy Policy</a></li>
          <li><a routerLink="/home/termsandconditions" class="footerSubtitle">Terms & Use</a></li>
          <li><a routerLink="/home/faq" class="footerSubtitle">FAQ</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-6 col-md-2">
        <h6 class="footerTopic" class="footerTopic">Explore </h6>
        <ul class="list-unstyled">
          <li>News</li>
          <li>Sitemap</li>

          <li>Feedbacks</li>
        </ul>
      </div>
      <div class="col-xs-12 col-6 col-md-2">
        <h6 class="footerTopic">Social Media </h6>
        <ul class="list-unstyled" style="margin-top: 15px;">
          <li>
            <a class="pr-2" [attr.href]="data?.facebookLink" target="_blank" ><img src="../../../assets/img/Social-Media/facebook.png"  class="imgTel"></a>
            <a class="pr-2" [attr.href]="data?.googlePlusLink" target="_blank"><img src="../../../assets/img/Social-Media/twitter.png"  class="imgTel"></a>
            <a class="pr-2" [attr.href]="data?.twitterLink" target="_blank"><img src="../../../assets/img/Social-Media/pinterest.png"  class="imgTel"></a>
            <a class="pr-2" [attr.href]="data?.pintrestLink" target="_blank"><img src="../../../assets/img/Social-Media/google-plus.png"  class="imgTel"></a>
            <img src="../../../assets/img/footer/SofaCreator-payments.png" class="payMents">
        </ul>
      </div>

    </div>
  </div>
</div>