.footers a {
  color: #818181;
}

.footers p {
  color: #272727;
}

.footers ul {
  line-height: 30px;
}

.footers {
  margin-top: 0px;
  background-image: url(../../../assets/img/footer/images.jpg) !important;
  border-top: #b4b4b4 2px solid;
  
}

a{
    text-decoration: none;
}
.imgTele{
  width: 15px;
  padding: 2px;
}
.imgTel{
  width: 28px;
  color: red;

}